body
{
	background-color: #aabbcc;
}

/*input[type=text]
{
	padding:12px 25px;
	width:50%;
	margin: auto;
}*/

.btn
{
	font-size:14px;
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
	padding:8px 14px;
	width:10%;
	display:block;
	float: right;
	cursor:pointer;
	background-color:#77be53;
	border-radius:2px
}
.alert
{
	display: block;
	background-color: #17AB56;
	padding:10px 15px;
	color:red;
	font-weight: bold;

}
.field
{
	display:block;
	padding: 8px 14px;
	width:30%; 
}
.container
{
	margin:auto;

	width: 50%;
	padding: 50px 50px;
	align-content: center;
    border: 3px solid #f1f1f1;

}
.log
{
	color: red;
	font-size: 50px;
	text-align: center;
}
.reg
{

}